version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - 3000:3000
    networks:
      - app-network
    command: npm run start:prod

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - 8080:5173
    networks:
      - app-network
    command: npm run dev -- --host 0.0.0.0
    depends_on:
      - backend
    environment:
      - PROD=true

networks:
  app-network:
    driver: bridge
