name: Deploy Test Task

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: PRODUCTION
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Check Docker Hub login
        run: docker info

      - name: Stop running containers
        run: docker compose down

      - name: Build and start containers
        run: docker compose up -d --build