name: Deploy Test Task

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Stop running containers
        run: docker compose down

      - name: Build and start containers
        run: docker compose up -d --build